.coords{
    vertical-align:top;
    display: inline-block;
}
#dropbox{
    display: inline-block;
}
#rendered{
    white-space: nowrap;
}
.validation-message {
    padding: 1em;
}
.hidden {
    display: none;
}
.pass {
    background-color: #efe;
    color: #393;
    border: 2px solid #393;
}
.fail {
    background-color: #fee;
    color: #933;
    border: 2px solid #933;
}
.bubble {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
}
.item {
    position: absolute;
    outline-style: solid;
    outline-color: blue;
    outline-width: 1px;
}
.newItem {
    outline-color: red;
}
.segment {
    position: absolute;
    z-index: 389;
    outline-color: green;
    outline-width: 2px;
    overflow: hidden;
}
.selected {
    outline-color: red;
}
.editor { 
    overflow: hidden;
    position: relative;
    display: block;
    height: 60em;
    width: 100%;
}
.devtab{
    opacity: .50;
}
.well{
    background-color: lightgray;
}